<%= content_tag :div, class: 'page-header' do %>
  <%= content_tag :h1 do %>
    Homework
  <% end %>
<% end %>
<div ng-app="components">
  <div id="alert-area">
  </div>
  <div ng-controller="hwController">
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#homework-form-wrapper" aria-expanded="false" aria-controls="homework-form-wrapper" ng-show="currentUserIs('teacher')">
      Add Homework
    </a>
    <div homework-form id="homework-form-wrapper" ng-show="currentUserIs('teacher')" class="collapse"></div>
    <div homework-list></div>
  </div>
</div>
